<div class="container col-6 text-center">
  <h2 class="my-5">Enviar Informacion</h2>
  
  <button 
  type="button" 
  class="btn btn-primary"
  (click)="enviar()"
  [disabled]="loading"
  >
  <i class="fa" [ngClass]=" { 'fa-save':!loading, 'fa-spin fa-refresh': loading } "></i>
    <span *ngIf="!loading">Guardar Cambios</span>
    <span *ngIf="loading">Espere por favor...</span>
  </button>
</div>